.playerOne {
  color: #D16E9E; }

.playerTwo {
  color: #18BC97; }

.boardField {
  height: 400px;
  width: 400px; }

.empty {
  height: 50px;
  width: 50px;
  background-color: white;
  border-color: black;
  margin: 0; }
  .empty.pink {
    background-color: #D16E9E; }
  .empty.green {
    background-color: #18BC97; }
