.players
  flex: 1
  display: flex
  flex-direction: column

.boardField
  height: 400px
  width: 400px

.empty
  height: 50px
  width: 50px
  background-color: white
  border-color: black
  margin: 0

  &.pink
    background-color: pink

  &.green
    background-color: green
