.players {
  display: flex;
  margin-top: 20px; }

.playerOne {
  margin: 5%;
  color: #D16E9E; }

.playerTwo {
  margin: 5%;
  color: #18BC97; }

.boardField {
  height: 400px;
  width: 400px;
  text-align: center; }

.empty {
  height: 50px;
  width: 50px;
  background-color: white;
  border-color: black;
  margin: 0; }
  .empty.pink {
    background-color: #D16E9E; }
  .empty.green {
    background-color: #18BC97; }
